.profile-side-main {
  display: flex;
  
}
#content main .profile-inputs .table-data{
  width: 50%;
  align-items: center;
  justify-content: center;
  

}
#content main .profile-inputs {
  width: 60%;
  margin-right: 100px;
}
#content main .profile-sidbar  {
  margin-left: 50px;
  width: 30%;

 
 
}



.profile-sidebar-item {
  padding: 20px;
  font-size: 16px;
  font-weight: 600;
}

.profile-sidebar-item span {
  padding-inline: 10px;
}

.profile-sidebar-item .active {
  color: #3c91e6;
  border: 1px solid;
  border-color: #3c91e6;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 15px;
}
/* .edit-profile-container {
  display: grid;
  grid-template-columns: 0.5fr 0.5fr;
  grid-gap: 0px 15px;
  padding: 20px;
  width: 40%;
  height: 50vh;
  justify-content: space-between;
  align-items: center;
} */
/* .profile-container {
  display: block;

  width: 90%;
}
.profile-key {
  padding: 5px;
} */

.profile-container-feilds, .profile-container{

	justify-content: space-between;
	margin: 20px 0px 12px 0px;
}
.profile-feilds .Labels{
  margin-bottom: 15px;
	width: 100% ;
}
.profile-feilds .Labels label{
  display: block;
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 5px;

}
.profile-feilds .labelspass label{
  display: block;
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 5px;
  padding-top: 10px;
  padding-bottom: 10px;

}

.profile-feilds .Labels input{
	height: 45px;
	width: 100%;
	outline: none;
	border-radius: 5px;
	border: 1px solid #ccc;
	padding-left: 15px;
	font-size: 16px;
	border-bottom-width: 2px ;
	transition: all 0.3 ease;
}
.profile-feilds .Labels input:focus{
  border-color: #3c91e6;
}

/* .Labels .input{
        margin-bottom: 5px;
        border-top: none;
        border-left: none;
        border-right: none;
        outline: none;
        padding: 10px;
        padding-bottom: 5px;
        font-size: 16px;
        color: #3c91e6;   
}
.Labels label:hover {
  color: #333;
} */
/* .profile-key input {
  width: 100%;
  height: 100%;
  color: #333;
   border: 1px solid;
  font-size: 0.5em;
  font-weight: 500;
  padding: 0 35px 0 5px;
  height: calc(1.35em + 1.1rem + 2px);
  padding: 0.55rem 0.75rem;
  font-size: .925rem;
  line-height: 1.35;
  border-radius: 0.28rem;
} */
.image-input label {
  padding: 10px;
  font-size: 24px;
  color: #333;
  font-weight: 600;
}
.image-input input {
  border-top: none;
  border-left: none;
  border-right: none;
  outline: none;
  padding: 15px;
  font-size: 16px;
}

.profile-btn {
  border: 1px solid;
  padding: 10px;
  width: 20%;
  margin-top: 20px;
  background-color: #3c91e6;
  color: aliceblue;
  font-size: 20px;
  font-weight: 600;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow, transform;
  cursor: pointer;
}
/* .profile-btn:hover,
.profile-btn:focus,
.profile-btn:active {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
} */
.image-input {
  display: flex;
 
  margin-bottom: 1rem;
  
}

.image-input label {
  height: 36px;
  padding: 0 16px;
  border-radius: 36px;
  background: var(--blue);
  color: var(--light) ;
  display: flex;
  justify-content: center;
  align-items: center;
  grid-gap: 10px;
  font-weight: 500;
  font-size: 20px;
}
.faimage {
  padding: 10px;
}

.image-input input[type="file"] {
  display: none;
}

.image-input input[type="file"]:hover {
  cursor: pointer;
}

.image-input input[type="file"]:focus {
  outline: none;
  box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.1);
}

/* .Labels label {
 
  margin-top: 40px;
  padding-bottom: 10px;

  color: #333;
  font-weight: 600;
}
.Labels input {
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 100%;
  height: 100%;
  
 
  
  color: #333;

  font-size: 1em;
  font-weight: 500;
  padding: 0 35px 0 5px;
  height: calc(1.35em + 1.1rem + 2px);
  padding: 0.55rem 0.75rem;
  font-size: .925rem;
  line-height: 1.35;
  border-radius: 0.28rem;
} */
@media screen and (max-width:1000px) {

  .profile-sidebar-item {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 5px;
    padding-right: 5px;
    
    font-size: 16px;
    font-weight: 600;
  }
  .profile-mang{
    width:max-content;
  }
}